* {
  --main-color: rgb(15,15,23);
  --secondary-color: rgb(55,131,194);
  --text-color: rgb(200,200,200);
  box-sizing: border-box;
}
a { 
  text-decoration: none; 
  color: rgb(0,0,0);
}
span { color: rgb(35, 100, 150); }
button, select { cursor: pointer; }
p:hover { color: gray; }

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open_position_modal {
  position: absolute;
  background: white;
  border: 1px solid lightblue;
  color: black;
  width: 350px;
  left: calc(50% - 175px);
  top: 25%;
  padding: 20px;
  animation-name: modal;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes modal {
  0% {
    transform: translateY(-100vh);
  }
  50% { transform: translateY(20vh);}
  100% {
    transform: translateY(0);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
