* {
  --main-color: rgb(15,15,23);
  --secondary-color: rgb(55,131,194);
  --text-color: rgb(200,200,200);
  box-sizing: border-box;
}
a { 
  text-decoration: none; 
  color: rgb(0,0,0);
}
span { color: rgb(35, 100, 150); }
button, select { cursor: pointer; }
p { color: white; font-size: 15px; }
p:hover { color: gray; }
h1,h2, h3, h4 { color: white; }

.data {
  border-bottom: 1px solid var(--secondary-color);
  width: 400px;
  margin-left: calc(50% - 200px);
}

.open_position_modal {
  position: absolute;
  background: white;
  border: 1px solid lightblue;
  color: black;
  width: 350px;
  left: calc(50% - 175px);
  top: 25%;
  padding: 20px;
  animation-name: modal;
  animation-duration: .2s;
  animation-iteration-count: 1;
}
.open_position_modal p {
  color: black;
}

.pair_divs {
  padding: 20; 
  border: 1px solid rgba(255,255,255,0.1); 
  border-radius: 5px;
}
.pair_divs p {
  text-align: start;
  padding-left: 20px;
}
.pair_divs:hover {
  border: 1px solid rgba(55,131,194, 0.3);
}

.chartData {
  padding-top: 50px;
}
.chartData form input,
.chartData form button {
  margin: 10px;
}

.login input,
.register input {
  padding: 10px; 
  margin: 10px 0px; 
  width: 80%;
  max-width: 500px;
}

@keyframes modal {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* @keyframes modal {
  0% {
    transform: translateY(-100vh);
  }
  50% { transform: translateY(20vh);}
  100% {
    transform: translateY(0);
  }
} */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
