.navigation {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--secondary-color);
    width: 100vw;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation header a {
    text-decoration: none;
    color: var(--header-text-color);
    margin-left: 10px;
}
.navigation ul {
    display: flex;
    align-items: center;
    margin: 0 0 0 1.5rem;
    padding: 0;
    list-style: none;
}

.navigation button {
    margin-right: 1.5rem;
}

.navigation li {
    margin: 0 1rem;
    color: var(--header-text-color);
}
.navigation li:hover {
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
    color: var(--header-text-color);
}
.navigation a:hover,
.navigation a:active,
.navigation a.active {
    color: black;
}